.faq {
    max-width: 1560px;
    background-color: #222326;
    margin: 0 auto;
    padding: 75px 50px 50px 50px;
    border-bottom: 1px solid #4A4E57;
}

@media screen and (max-width: 850px) {
    .faq {
        padding: 75px 20px 50px 20px;
    }
}

.faq__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq__title {
    font-family: 'Neometric';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    background: linear-gradient(111.34deg, #EB8173 0%, #EB9C73 49.95%, #EFB775 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0 0 20px 0;
    text-align: center;
}

.faq__subtitle {
    font-family: 'Neometric';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #F4EFE9;
    margin: 0 0 50px 0;
    max-width: 750px;
}

.faq__span {
    font-family: 'Neometric';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    background: linear-gradient(111.34deg, #EB8173 0%, #EB9C73 49.95%, #EFB775 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
}

.faq__text {
    font-family: 'Neometric';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #80848D;
    margin: 0 0 35px 0;
    max-width: 1065px;
}

.faq__link {
    font-family: 'Neometric';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #80848D;
    margin: 0;
    border-bottom: 1px solid #EB8173;
    text-decoration: none;
}