.card {
    width: 360px;
    background-color: #27292E;
    border-radius: 8px;
    position: relative;
}

.card__container {
    border-radius: 8px;
}

.card__img {
    width: 360px;
    height: 190px;
    border-bottom: 1px solid #4A4E57;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.card__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px 20px 15px;
}

.card__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #F4EFE9;
    margin: 0 0 0 5px;
}

.card__button {
    width: 100px;
    height: 35px;
    background: #27292E;
    border-radius: 8px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #F4EFE9;
    margin: 0;
    outline: none;
    border: 1px solid #EBC273;
    transition: linear 0.5s;
    cursor: pointer;
}

.card:hover .card__button {
    background: linear-gradient(111.34deg, #EBA573 0%, #EBBB73 49.95%, #F0D77D 100%);
    color: #27292E;
    transition: linear 0.5s;
    cursor: pointer;
}

.price {
    margin: 10px 0 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 10px;
    justify-content: inherit;
    background: rgba(22, 23, 27, 0.6);
    backdrop-filter: blur(6px);
    border-radius: 4px;
    display: inline-flex;
    padding: 5px 10px;
    z-index: 2;
}

.price__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #F4EFE9;
    margin: 0;
}

.price__span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    background: linear-gradient(111.34deg, #EBA573 0%, #EBBB73 49.95%, #F0D77D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
}

.card__link {
    text-decoration: none;
}

.card__logo {
    height: 28px;
}