.App {
  margin: 50px auto 50px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: var(--background-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #EB9C73;
}