.popular {
    max-width: 1560px;
    background-color: #222326;
    margin: 0 auto;
    padding: 125px 50px 175px 50px;
    border-bottom: 1px solid #4A4E57;
}

@media screen and (max-width: 850px) {
    .popular {
        padding: 75px 20px 125px 20px;
    }
}

.popular__span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin: 0 0 50px 0;
    background: linear-gradient(111.34deg, #EBA573 0%, #EBBB73 49.95%, #F0D77D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.popular__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin: 0 0 100px 0;
    color: #F4EFE9;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .popular__title {
        margin: 0 0 60px 0;
    }
}

.popular__cards {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, 370px);
    justify-content: center;
}

@media screen and (max-width: 850px) {
    .popular__cards {
        gap: 40px;
    }
}


.popular_empty {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin: 100px 0 100px;
}

.popular_empty__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    background: linear-gradient(111.34deg, #EBA573 0%, #EBBB73 49.95%, #F0D77D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
}

.popular_empty__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #F4EFE9;
    margin: 30px 0 0;
    max-width: 480px;
}